{
  "license_key": "{{new_relic_license_key}}",
  "log_level": "{{new_relic_log_level}}",
  {% if new_relic_log_file_name is defined %}"log_file_name": "{{new_relic_log_file_name}}",{% endif %}
  {% if new_relic_log_file_path is defined %}"log_file_path": "{{new_relic_log_file_path}}",{% endif %}
  {% if new_relic_log_limit_in_kbytes is defined %}"log_limit_in_kbytes": "{{new_relic_log_limit_in_kbytes}}",{% endif %}
  {% if new_relic_proxy_host is defined %}"proxy_host": "{{new_relic_proxy_host}}",{% endif %}
  {% if new_relic_proxy_port is defined %}"proxy_port": "{{new_relic_proxy_port}}",{% endif %}
  {% if new_relic_proxy_username is defined %}"proxy_username": "{{new_relic_proxy_username}}",{% endif %}
  {% if new_relic_proxy_password is defined %}"proxy_password": "{{new_relic_proxy_password}}",{% endif %}
}
